########################################################################
### ignore local configuration and framework
########################################################################

static
**/node_modules
**/*.log

**/*.pyc
**/__pycache__
**/.Rhistory
**/.ipynb_checkpoints

# setuptools, python egg metadata
/dist/
/*.egg-info

# sbt scala
**/target/

data
README.ipynb
